@charset "utf-8";

@font-face {
    font-family: 'notosansbold';
    src: url(../font/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
    font-family: 'notosans';
    src: url(../font/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'notosanskr';
    src: url(../font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: 'lemon';
    src: url(../font/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'lemonl';
    src: url(../font/lemon_milk/LEMONMILK-Light.otf);
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input,
textarea {
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(178, 178, 178, 0.7);
    margin: auto;
    z-index: 1000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 130px;
}

nav {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    text-align: center;
}

.gnb>li {
    width: calc(100% / 8);
    /* padding-left: 70px; */
    display: flex;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.gnb>li.on {
    transform: scale(1.2);
}

.gnb>li>a {
    color: white;
    font-family: 'notosans';
    font-size: 15px;
    line-height: 100px;
    transition: .4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.gnb>li>a:hover {
    transform: scale(1.2);
    transition: .4s;
}

.container {
    display: inline-block;
    cursor: pointer;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.logo {
    display: block;
    background: url(../img/logo_bk.png) no-repeat;
    background-size: cover;
    width: 207px;
    height: 53px;
}
section {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}

.sec1 {
    overflow: hidden;
}
video{
    object-fit: fill;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
img{
    object-fit: fill;
}
.nbvid{
    margin-left: auto;
    margin-right: auto;
    display: block
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide3>img {
    display: block;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.lang {
    background: #80A316;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-family: 'notosans';
    z-index: 1000;
    width: 94px;
    height: 25px;
    padding-top: 5px;
}

.lang>a {
    color: white;
    font-family: 'notosans';
    font-size: 15px;
    display: inline-block;
}

.text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
}
.swiper-slide3 >.none {
    display: none;
}
.swiper-slide>h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    color: white;
    font-size: 100px;
    transform: translateX(-50%);
    font-family: 'lemon';
    width: 100%;
    text-align: center;
}
.text>span:nth-of-type(1){
    opacity: 0;
}
.text>span:nth-of-type(2){
    opacity: 0;
}
.text>span:nth-of-type(3){
    opacity: 0;
}
.swiper-slide.swiper-slide3.swiper-slide-active .text>span:nth-of-type(1) {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 100px;
    animation: up 16s 1s forwards;
    opacity: 0;
    font-family: 'lemon';
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.swiper-slide.swiper-slide3.swiper-slide-active .text>span:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: #80A316;
    font-size: 2.25em;
    animation: up 13s 4s forwards;
    opacity: 0;
    font-weight: bold;
    font-family: 'lemonl';
    padding-top: 45px;

}
.swiper-slide.swiper-slide3.swiper-slide-active .text>span:nth-of-type(3) {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.25em;
    animation: up 13s 4s forwards;
    opacity: 0;
    font-weight: bold;
    font-family: 'lemonl';
    padding-top: 45px;
}
@keyframes up {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.more {
    z-index: 500;
    position: absolute;
    width: 42px;
    height: 64px;
    right: 10%;
    bottom: 10%;
    border: 2px solid white;
    border-radius: 50px;
    animation: more 6s 9.5s;
    opacity: 0;
}

@keyframes more {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.more::before,
.more::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: movearrow 1s ease-in-out infinite;
}

.more::after {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes movearrow {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        top: 90%;
    }
}

.sec2 {
    width: 100%;
    height: 450px;
    background-image: url(../img/sec2bg.jpg);
    background-size: cover;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round{
    width: 36px;
    height: 36px;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.round::after{
    content: "";
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
}
.sec2>h1 {
    color: white;
    font-size: 40px;
    z-index: 500;
    font-family: 'notosansbold';
    margin-bottom: 30px;
}

.sec2>p {
    color: white;
    font-size: 20px;
    z-index: 500;
    text-align: center;
    line-height: 2;
    font-family: 'notosans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sec2>p::after{
    content: "";
    background: #fff;
    width: 2px;
    height: 60px;
    position: relative;
    top: 16px;
}
.s2_logo{
    background: url(../img/농법로고wh.svg) no-repeat;
    width: 217px;
    height: 61px;
    position: relative;
    left: -18px;
}

.sec2logo>img {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sec2>.damn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    z-index: 500;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 124, 97, 0.8);
    z-index: 1;
}

.sec3 {
    background-color: #F6F6F6;
    height: 885px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 132px;
}
.sec3::before{
    content: "";
    background: #E5E5E5;
    width: 5px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 32%;
    z-index: 2;
    opacity: 0;
    transition: height 1.5s cubic-bezier(0.5, 0.5, 0.5, 1)
}
.sec3.on::before{
    opacity: 1;
    height: 1020px;
}
.sec3::after{
    content: "";
    background: #E5E5E5;
    width: 5px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 2;
    opacity: 0;
    transition: height 0.5s 1s cubic-bezier(0.645, 0.045, 0.355, 1)
}
.sec3.on::after{
    height: 1170px;
    opacity: 1;
}
.s3_lcon{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.s3_lcon>h1 {
    color: black;
    font-size: 50px;
    font-family: 'notosansbold';
    margin-bottom: 30px;
}

.s3_lcon>p {
    width: 472px;
    height: 121px;
    color: black;
    font-size: 20px;
    line-height: 2rem;
    font-weight: 500;
    font-family: 'notosans';
    word-break: keep-all;
}
.t_conwrap{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.b1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.push{
    width: 288px;
    display: block;
    font-size: 55px;
    font-weight:bolder;
    font-family: 'notosans';
    opacity: 0.3;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: left;
    transition: 0.5s ease-out;
}
.push.on{
    opacity: 1;
}
.p1{
    background: url(../img/Group\ 142.png) no-repeat;
    background-size: cover;
    width: 288px;
    height: 290px;
}
.p2{
    background: url(../img/Group\ 143.png) no-repeat;
    background-size: cover;
    width: 288px;
    height: 290px;
}
.p3{
    background: url(../img/Group\ 144.png) no-repeat;
    background-size: cover;
    width: 288px;
    height: 290px;
}
.p4{
    background: url(../img/Group\ 145.png) no-repeat;
    background-size: cover;
    width: 288px;
    height: 290px;
}
.tab_con{
    opacity: 0.5;
    transition: 0.5s ease-in;
}
.tab_con.on{
    opacity: 1;
    transform: scale(1.1);
}
.sec4 {
    background: transparent;
    width: 100%;
    height: 1071px;
    display: flex;
    flex-direction: row;
}
.mySwiper9{
    width: 100%;
    height: 100%;
    position: relative;
}
.mySwiper9 .swiepr-wrapper{
    width: 100%;
    height: 100%;
}
.mySwiper9>.swiepr-wrapper>.swiper-slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.l_con{
    background: #E9E9E9;
    width: 50%;
    height: 809px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kor{
    background: url(../img/Group\ 140.png) no-repeat;
    width: 466px;
    height: 657px;
    background-size: cover;
}
.world{
    background: url(../img/Group139.png) no-repeat;
    background-size: cover;
    width: 935px;
    height: 411px;
}
.r_con{
    width: 50%;
    padding: 0 71px 0 117px;
    position: relative;
}
.r_con:after{
    content: "";
    background: url(../img/frame.png) no-repeat;
    background-size: contain;
    width: 762px;
    height: 513px;
    position: absolute;
    top: -140px;
    left: 150px;
    z-index: 1;
}
.r_con h1{
    color: black;
    font-size: 50px;
    font-family: 'notosansbold';
    margin-bottom: 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.r_con p{
    color: black;
    font-size: 20px;
    line-height: 2rem;
    font-weight: 500;
    font-family: 'notosans';
    word-break: keep-all;
    text-align: left;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
.r_con .btn{
    padding: 16px 55px;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-family: 'notosansbold';
    width: 222px;
    height: 56px;
    cursor: pointer;
}
.r_con .btn2{
    padding: 16px 30px;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-family: 'notosansbold';
    width: 222px;
    height: 56px;
    cursor: pointer;
}
.swiper-button-next.f_btn{
    width: 222px;
    height: 56px;
    margin-top: initial;
    top: 593px;
    right: 718px;
    background: transparent;
}
.swiper-button-next.f_btn:after{
    content:"";
    background: transparent;
    font-size: initial;
    font-family: initial;
}
.sec5 {
    width: 100%;
    height: 543px;
    background: #EDEDED;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 373px;
    padding-top: 65px;
}
.sec5>h1 {
    font-size: 40px;
    font-family: 'notosansbold';
    margin-bottom: 30px;
}
.sec5>p {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    font-family: 'notosans';
}
.s5_con{
    top: 220px;
    position: absolute;
    width: 80%;
    height: 561px;
    z-index: 10;
    display: flex;
}
.s5_left{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}
.s5_right{
    width: 50%;
    height: 100%;
    background:#000;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}
.lam_logo{
    background: url(../img/lam_logo.png) no-repeat;
    width: 284px;
    height: 230px;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    transition: 0.3s ease-in;
    opacity: 0.7;
}
.lam_logo:hover{
    opacity: 1;
    transform: scale(1.1);
}
.ur_logo{
    background: url(../img/Group.png) no-repeat;
    width: 210px;
    height: 240px;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    transition: 0.3s ease-in;
    opacity: 0.7;
}
.ur_logo:hover{
    opacity: 1;
    transform: scale(1.1);
}
.s5con1{
    background: url(../img/s5_con1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.s5con2{
    background: url(../img/s5_cn2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.s5con3{
    background: url(../img/s5_con2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.s5con4{
    background: url(../img/s5_co3.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.sec6 {
    background: url(../img/bg_sec6.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 684px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec6>h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'notosansbold';
    margin-bottom: 30px;
}
.sec6>p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 2;
    font-family: 'notosans';
    margin-bottom: 100px;
}
.sec7 {
    background-color: #242424;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec7>h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'notosansbold';
    margin-bottom: 30px;
}
.sec7>p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 2;
    font-family: 'notosans';
    margin-bottom: 100px;
}

#container {
    width: 34%;
    height: 447;
    font-family: 'notosansbold';
}

select {
    width: 100%;
}

#box1,
#box2 {
    width: 100%;
    height: 100%;
    display: none;
}

#mail {
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}

#box1.on,
#box2.on {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    width: 100%;
    margin: auto;
}
form{
    width: 100%;
}
.form-item {
    display: grid;
    padding-top: 10px;
}
label{
    color: #fff;
}
button {
    width: 100%;
    position: relative;
    color: white;
    background:#1F5A1F;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'notosans';
}

.goupbtn {
    top: 60%;
    left: 80%;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    background-color: #ffffff;
    border: red 3px solid;
    position: fixed;
    z-index: 800;
}
footer {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}
footer>p {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #1F5A1F;
    color: white;
    font-size: 14px;
    font-family: 'notosans';
}

.go-top {
    position: fixed;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 800;
    right: 3%;
    bottom: 5%;
    width: 50px;
    height: 50px;
}

@keyframes more {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.go-top::before,
.go-top::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    border: 2px solid white;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: transparent;
    border-right: transparent;
}




@keyframes movearrow2 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.burger-container {
    display: none;
}






@media (max-width:1000px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100vw;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.1);
        margin: auto;
        z-index: 1000;
    }

    .top {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        /* line-height: 100px; */
        justify-content: space-between;
        margin: auto;
    }

    .top>.container {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 5%;
        top: 20px;
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .gnb {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 1000;
    }

    .gnb>li {
        width: 100%;
        height: 50px;
        /* padding-left: 70px; */
        display: flex;
        flex-direction: column;
        text-align: center;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .gnb>li.on {
        transform: scale(1.2);
    }

    .gnb>li>a {
        color: white;
        font-family: 'notosans';
        font-size: 18px;
        line-height: 50px;
        transition: .4s;
        height: 100%;

    }

    .gnb>li:hover>a {
        transform: scale(1.2);
        transition: .4s;
    }

    .lang {
        display: flex;
        display: block;
        color: white;
        font-family: 'notosans';
        /* line-height: 100px; */
        /* width: 200px; */
        justify-content: center;
        text-align: center;
        z-index: 1000;

    }

    .lang>a {
        color: white;
        font-family: 'notosans';
        font-size: 16px;
        line-height: 50px;
    }

    .lang>a>img {
        width: 20px;
    }

    .logo {
        position: absolute;
        top: 10px;
        width: 80px;
        height: 50px;
        /* line-height: 50px; */
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo>a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 100%;
        display: block;
        background-image: url(../img/농법로고png.png);
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        line-height: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }

    .damn3 {
        width: 100%;
        height: 100%;
    }

    .nbvid {
        display: none;
    }
    .swiper-slide3>.none {
        display: block;
    }
    .text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50%;
    }
    .text>span:nth-of-type(1) {
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 55px;
        animation: up 16s 1s forwards;
        opacity: 0;
        font-family: 'lemon';
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .text>span:nth-of-type(1)::after {
        content: "";
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 110%;
        border: 1px solid white;
        width: 90%;
        justify-content: center;
        text-align: center;
        align-items: center;
        animation: up 16s 1s forwards;
        opacity: 0;
    }
    
    .text>span:nth-of-type(2) {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 28px;
        animation: up 13s 4s forwards;
        opacity: 0;
        font-family: 'lemonl';
        padding-top: 45px;
        width: 100%;
    
    }
    
    .text>span:nth-of-type(3) {
        position: absolute;
        top: 52%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        color: white;
        font-size: 28px;
        animation: up 13s 4s forwards;
        opacity: 0;
        font-family: 'lemonl';
        padding-top: 45px;
    }
    .swiper-slide>h1 {
        position: absolute;
        top: 35%;
        left: 50%;
        color: white;
        font-size: 50px;
        transform: translateX(-50%);
        font-family: 'lemon';
        width: 100%;
        text-align: center;
        line-height: 60px;
    }
    .sec2 {
        position: relative;
        background-image: url(../img/sec2bg.jpg);
        background-size: cover;
        background-color: rgba(29, 52, 35, 0.8);
        overflow-x: hidden;
    }
    
    .sec2>h1 {
        position: absolute;
        top: 15%;
        color: white;
        font-size: 25px;
        z-index: 500;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'notosansbold';
    }
    
    .sec2>p {
        position: absolute;
        top: 23%;
        color: white;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    .sec2logo {
        position: absolute;
        z-index: 600;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    
    .sec2logo>img {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .sec2>.damn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
        z-index: 500;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .sec3>.year {
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        max-width: 1000px;
        width: 100%;
        margin: auto;
    }
    
    .sec3>h1 {
        position: absolute;
        top: 15%;
        color: black;
        font-size: 25px;
        z-index: 500;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'notosansbold';
        width: 100%;
        text-align: center;
    }
    
    .sec3>p {
        position: absolute;
        top: 24%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        font-family: 'notosanskr';
        width: 95%;
    }
    .banner_list {
        display: flex;
        padding-top: 100px;
        height: 100%;
        overflow: hidden;
    }
    
    .banner {
        width: calc(100%/4);
        overflow: hidden;
        height: 300px;
    }
    .sec4 {
        background-color: rgb(21, 65, 23);
        position: relative;
        height: 200vh;
        background-image: url(../img/Rectangle\ 65.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .sec4>.korea {
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 35%;
        z-index: 500;
    }
    
    .sec4>.korea>h1 {
        position: absolute;
        font-size: 25px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-family: 'notosansbold';
        width: 100%;
        text-align: center;
    }
    
    .korea>p {
        position: absolute;
        font-size: 12px;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        line-height: 1.5;
        width: 100%;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    .korea>img {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
    }
    
    .sec4>.world {
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 35%;
        z-index: 500;
    }
    
    .sec4>.world>h1 {
        position: absolute;
        font-size: 25px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-family: 'notosansbold';
    }
    
    .world>p {
        position: absolute;
        font-size: 12px;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        line-height: 1.5;
        width: 100%;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    .world>img {
        position: absolute;
        width: 100%;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sec5>div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
    }
    
    .sec5>h1 {
        position: absolute;
        font-size: 25px;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        width: 100%;
        text-align: center;
        font-family: 'notosansbold';
    }
    
    .sec5>p {
        position: absolute;
        top: 18%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        width: 95%;
        font-family: 'notosanskr';
    }
    
    .sec5>.logocon {
        position: absolute;
        z-index: 600;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .logocon>a {
        width: 100%;
        height: 100%;
    }
    
    .logocon>a>.lamb {
        position: absolute;
        width: 32.5%;
        top: 5%;
        left: 10%;
    }
    
    .logocon>a>.urban {
        position: absolute;
        width: 25%;
        top: 5%;
        left: 63.5%;
    }
    
    .sec5>.damn2 {
        position: absolute;
        top: 50%;
        left: 75%;
        width: 45%;
        height: 50%;
        z-index: 500;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .sec5>.damn4 {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 45%;
        height: 50%;
        z-index: 500;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .sec6>div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
    }
    
    .sec6>h1 {
        position: absolute;
        font-size: 25px;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-family: 'notosansbold';
        width: 100%;
        text-align: center;
    }
    
    .sec6>p {
        position: absolute;
        top: 22%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        width: 95%;
        font-family: 'notosanskr';
    }
    
    .sec6>div>img {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
    }
    .sec7 {
        background-color: rgb(241, 241, 241);
        position: relative;
        height: 100vh;
    }
    .sec7>h1 {
        position: absolute;
        font-size: 25px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-family: 'notosansbold';
    }
    
    .sec7>p {
        position: absolute;
        top: 13%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    #container {
        width: 95%;
        height: 100vh;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'notosansbold';
        z-index: 1;
    }
    
    select {
        width: 100%;
    }
    
    #box1,
    #box2 {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        top: 5%;
    }
    
    #mail {
        width: 50%;
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #box1 {
        background-color: rgb(241, 241, 241);
    }
    
    #box2 {
        background-color: rgb(241, 241, 241);
    
    }
    
    #box1.on,
    #box2.on {
        display: block;
    }
    
    .container {
        width: 100%;
        margin: auto;
    }
    
    .form-item {
        display: grid;
        background-color: rgb(241, 241, 241);
    }
    .form-item> label {
        font-size: 12px;
    }
    .form-item>input {
        height: 30px;
    }
    button {
        width: 100%;
        position: relative;
        color: white;
        background-color: rgb(31, 90, 31);
        padding: 15px;
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-family: 'notosans';
    }
    
    .goupbtn {
        top: 60%;
        left: 80%;
        width: 50px;
        height: 50px;
        border-radius: 80%;
        background-color: #ffffff;
        position: fixed;
        z-index: 800;
    }
    footer {
        z-index: 1000;
        /* position: absolute; */
        /* bottom: 0; */
        width: 100%;
    }
    footer>p {
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: black;
        color: white;
        font-size: 11px;
        font-family: 'notosans';
        z-index: 1000;
        width: 100%;
    }
}
@media (max-width:600px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100vw;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.1);
        margin: auto;
        z-index: 1000;
    }

    .top {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        /* line-height: 100px; */
        justify-content: space-between;
        margin: auto;
    }

    .top>.container {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 5%;
        top: 20px;
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .gnb {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 1000;
    }

    .gnb>li {
        width: 100%;
        height: 50px;
        /* padding-left: 70px; */
        display: flex;
        flex-direction: column;
        text-align: center;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .gnb>li.on {
        transform: scale(1.2);
    }

    .gnb>li>a {
        color: white;
        font-family: 'notosans';
        font-size: 18px;
        line-height: 50px;
        transition: .4s;
        height: 100%;

    }

    .gnb>li:hover>a {
        transform: scale(1.2);
        transition: .4s;
    }

    .lang {
        display: flex;
        display: block;
        color: white;
        font-family: 'notosans';
        /* line-height: 100px; */
        /* width: 200px; */
        justify-content: center;
        text-align: center;
        z-index: 1000;

    }

    .lang>a {
        color: white;
        font-family: 'notosans';
        font-size: 16px;
        line-height: 50px;
    }

    .lang>a>img {
        width: 20px;
    }

    .logo {
        position: absolute;
        top: 10px;
        width: 80px;
        height: 50px;
        /* line-height: 50px; */
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo>a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 100%;
        display: block;
        background-image: url(../img/농법로고png.png);
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        line-height: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }

    .damn3 {
        height: 100%;
    }

    .nbvid {
        display: none;
    }
    .swiper-slide3>.none {
        display: block;
    }
    .text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50%;
    }
    .text>span:nth-of-type(1) {
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 55px;
        animation: up 16s 1s forwards;
        opacity: 0;
        font-family: 'lemon';
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .text>span:nth-of-type(1)::after {
        content: "";
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 110%;
        border: 1px solid white;
        width: 90%;
        justify-content: center;
        text-align: center;
        align-items: center;
        animation: up 16s 1s forwards;
        opacity: 0;
    }
    
    .text>span:nth-of-type(2) {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 28px;
        animation: up 13s 4s forwards;
        opacity: 0;
        font-family: 'lemonl';
        padding-top: 45px;
        width: 100%;
    
    }
    
    .text>span:nth-of-type(3) {
        position: absolute;
        top: 52%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        color: white;
        font-size: 28px;
        animation: up 13s 4s forwards;
        opacity: 0;
        font-family: 'lemonl';
        padding-top: 45px;
    }
    .swiper-slide>h1 {
        position: absolute;
        top: 35%;
        left: 50%;
        color: white;
        font-size: 50px;
        transform: translateX(-50%);
        font-family: 'lemon';
        width: 100%;
        text-align: center;
        line-height: 60px;
    }
    .sec2 {
        position: relative;
        background-image: url(../img/sec2bg.jpg);
        background-size: cover;
        background-color: rgba(29, 52, 35, 0.8);
    }
    
    .sec2>h1 {
        position: absolute;
        top: 15%;
        color: white;
        font-size: 25px;
        z-index: 500;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'notosansbold';
    }
    
    .sec2>p {
        position: absolute;
        top: 23%;
        color: white;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    .sec2logo {
        position: absolute;
        z-index: 600;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    
    .sec2logo>img {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .sec2>.damn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
        z-index: 500;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .sec3>.year {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        max-width: 1000px;
        width: 100%;
        margin: auto;
    }
    
    .sec3>h1 {
        position: absolute;
        top: 15%;
        color: black;
        font-size: 25px;
        z-index: 500;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'notosansbold';
        width: 100%;
        text-align: center;
    }
    
    .sec3>p {
        position: absolute;
        top: 24%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        font-family: 'notosanskr';
        width: 95%;
    }
    .banner_list {
        display: flex;
        padding-top: 100px;
        height: 100%;
        overflow: hidden;
    }
    
    .banner {
        width: calc(100%/4);
        overflow: hidden;
        height: 150px;
    }
    .sec4 {
        background-color: rgb(21, 65, 23);
        position: relative;
        height: 200vh;
        background-image: url(../img/Rectangle\ 65.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .sec4>.korea {
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 35%;
        z-index: 500;
    }
    
    .sec4>.korea>h1 {
        position: absolute;
        font-size: 25px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-family: 'notosansbold';
        width: 100%;
        text-align: center;
    }
    
    .korea>p {
        position: absolute;
        font-size: 12px;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        line-height: 1.5;
        width: 100%;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    .korea>img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }
    
    .sec4>.world {
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 35%;
        z-index: 500;
    }
    
    .sec4>.world>h1 {
        position: absolute;
        font-size: 25px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-family: 'notosansbold';
    }
    
    .world>p {
        position: absolute;
        font-size: 12px;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        line-height: 1.5;
        width: 100%;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    .world>img {
        position: absolute;
        width: 100%;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sec5>div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
    }
    
    .sec5>h1 {
        position: absolute;
        font-size: 25px;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        width: 100%;
        text-align: center;
        font-family: 'notosansbold';
    }
    
    .sec5>p {
        position: absolute;
        top: 21%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        width: 95%;
        font-family: 'notosanskr';
    }
    
    .sec5>.logocon {
        position: absolute;
        z-index: 600;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .logocon>a {
        width: 100%;
        height: 100%;
    }
    
    .logocon>a>.lamb {
        position: absolute;
        width: 32.5%;
        top: 24.5%;
        left: 10%;
    }
    
    .logocon>a>.urban {
        position: absolute;
        width: 25%;
        top: 25%;
        left: 63.5%;
    }
    
    .sec5>.damn2 {
        position: absolute;
        top: 50%;
        left: 75%;
        width: 45%;
        height: 25%;
        z-index: 500;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .sec5>.damn4 {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 45%;
        height: 25%;
        z-index: 500;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .sec6>div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
    }
    
    .sec6>h1 {
        position: absolute;
        font-size: 25px;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-family: 'notosansbold';
        width: 100%;
        text-align: center;
    }
    
    .sec6>p {
        position: absolute;
        top: 22%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        width: 95%;
        font-family: 'notosanskr';
    }
    
    .sec6>div>img {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
    }
    .sec7 {
        background-color: rgb(241, 241, 241);
        position: relative;
        height: 750px;
    }
    .sec7>h1 {
        position: absolute;
        font-size: 25px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-family: 'notosansbold';
    }
    
    .sec7>p {
        position: absolute;
        top: 13%;
        color: black;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        text-align: center;
        line-height: 1.5;
        font-family: 'notosanskr';
        width: 95%;
    }
    
    #container {
        width: 95%;
        height: 500px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'notosansbold';
        z-index: 1;
    }
    
    select {
        width: 100%;
    }
    
    #box1,
    #box2 {
        width: 100%;
        height: 450px;
        position: absolute;
        display: none;
        top: 5%;
    }
    
    #mail {
        width: 50%;
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #box1 {
        background-color: rgb(241, 241, 241);
    }
    
    #box2 {
        background-color: rgb(241, 241, 241);
    
    }
    
    #box1.on,
    #box2.on {
        display: block;
    }
    
    .container {
        width: 100%;
        margin: auto;
    }
    
    .form-item {
        display: grid;
        background-color: rgb(241, 241, 241);
    }
    .form-item> label {
        font-size: 12px;
    }
    .form-item>input {
        height: 30px;
    }
    button {
        width: 100%;
        position: relative;
        color: white;
        background-color: rgb(31, 90, 31);
        padding: 15px;
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-family: 'notosans';
    }
    
    .goupbtn {
        top: 60%;
        left: 80%;
        width: 50px;
        height: 50px;
        border-radius: 80%;
        background-color: #ffffff;
        position: fixed;
        z-index: 800;
    }
    footer {
        /* z-index: 1000; */
        width: 100%;
    }
    footer>p {
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: black;
        color: white;
        font-size: 11px;
        font-family: 'notosans';
        z-index: 1000;
        width: 100%;
    }
}